.upcoming-match-container {
  height: 580px;
}

.mask {
  position: absolute;
  width: 98.9vw;
  height: 100vh;
  opacity: 1;
  background-color: transparent;
  background-color: rgba(206, 191, 191, 0.7);
}

.loadData {
  position: absolute;
  animation: load 3s infinite alternate-reverse;
  animation-timing-function: linear;
  left: 46vw;
  top: 30vh;
  color: rgb(119, 170, 51);
}

@keyframes load {
  /* 0% {
    font-size: 10px;
  }
  25% {
    font-size: 15px;
  }
  50% {
    font-size: 20px;
  }
  75% {
    font-size: 25px;
  }
  100% {
    font-size: 30px;
    transform: rotateX(360deg);
  } */

  from {
    font-size: 1vw;
  }
  to {
    font-size: 2vw;
  }
}
